<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
       <!-- <url-pattern>/index.html</url-pattern> -->
    </welcome-file-list>

    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>com.webProgramming.ClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>/Client</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SellerServlet</servlet-name>
        <servlet-class>com.webProgramming.SellerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SellerServlet</servlet-name>
        <url-pattern>/Seller</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.webProgramming.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
</web-app>